<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for('static', filename='img/fav/fav.ico') }}" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>YaCut - укоротитель ссылок</title>
</head>
<body>
  <header class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'index_view' %}active{% endif %}" href="{{ url_for('index_view') }}">
                Главная
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.endpoint == 'files_view' %}active{% endif %}" href="{{ url_for('files_view') }}">
                Загрузка файлов
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% with messages = get_flashed_messages() %}
      {% for message in messages %}
        <div class="container">
          <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <p class="text-center"><span style="color:red">{{ message }}</span></p>
            </div>
            <div class="col-sm">
            </div>
          </div>
        </div>
      {% endfor %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </main>
  <footer class="fixed-bottom border-top text-center py-3">
    <p>Укоротитель ссылок YaCut</p>
  </footer>
</body>
</html>
